body{
    background: linear-gradient(to right, #636FA4, #E8CBC0);
}

.feed-container{
    /* height: 100%; */
}
.center{
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    height: calc(100vh - 75px);
    /* background-color: red; */
    background: #E8CBC0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #636FA4, #E8CBC0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #636FA4, #E8CBC0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}